.paddingall {
    padding: 10px;
}
.priceTitle {
    font-weight: 600;
}

.priceSubTitle {
    font-size: 14px;
}

.iconStyle {
    /* margin: 20px 0 0px 20px; */
    margin-top: 20px !important;
    margin-left: 20px !important;
    color: aliceblue;
}
.iconStyleBlack {
    /* margin: 20px 0 0px 20px; */
    margin-top: 20px !important;
    margin-left: 20px !important;
}

.gradient {
    background: rgb(40, 34, 70);
    background: linear-gradient(158deg, rgba(40, 34, 70, 1) 0%, rgba(30, 47, 141, 1) 100%);
}

.gradientlight {
    background: rgb(53, 138, 148);
    background: linear-gradient(158deg, rgba(53, 138, 148, 1) 0%, rgba(91, 180, 96, 1) 100%);
}

.bgcolor {
    min-height: 100vh;
    background: #EcEFF1 ;
    background: linear-gradient(158deg, rgba(224, 224, 224) 0%, rgba(233, 237, 254) 100%);
}